/* header styles */

header {
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    margin: 0px;
    color: white;
    font-family: 'Amatic SC', sans-serif;
    font-size: 5rem;
    margin: 5%;
    color: #5C6851;
}

/* media queries */
@media (max-width: 400px) {
    h1 {
        font-size: 4rem;
    }
}