
li {
    list-style: none;
    border: 1px dotted #463f3a;
    border-left: none;
    border-right: none;
    margin: 0 auto;
    width: 90%;
    max-width: 800px;
    margin-bottom: 10px;
}

li:nth-child(odd) {
    background: #f3eaf4;
}

li:nth-child(even) {
    background: #eadde1;
}

p.body {
    padding-top: 5px;
}

p.attribution {
    text-align: right;
    margin-right: 2.5%;
    opacity: 0.5;
    color: #463f3a;
    padding-top: 10px;
}