/* story section styles */
.story {
    background-size: cover;
    margin: 0;
    padding: 5% 10%;
}

/* entry styles */
ul {
    padding: 0;
    margin: 0;
}

li {
    font-family: 'Lato', sans-serif;
    list-style: none;
    border: 1px dotted #5C6851;
    margin: 0 auto;
    width: 90%;
    max-width: 800px;
    margin-bottom: 10px;
    padding: 10px 25px;
}

li:nth-child(odd) {
    background: #dedcc391;
}

li:nth-child(even) {
    background: rgba(175, 169, 211, 0.5);
}

/* story styles */
p.body {
    color: #353535;
    padding-top: 5px;
    text-align: left;
    margin: 0;
    line-height: 1.6;
}

/* attribution styles */
p.attribution {
    text-align: right;
    opacity: 0.5;
    color: #353535;
    padding-top: 20px;
    margin: 0;
}


/* media queries */
@media (max-width: 400px) {
    p {
        font-size: 1rem;
    }
}