/* visually hidden snippet */
.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}

/* global styles */
.App {
  margin: 0 auto;
  min-height: 100vh;
  background:linear-gradient(0deg,rgba(255,255,255,0.3),rgba(255, 255, 255, 0.3)),url(assets/story-background.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  max-width: 1600px;
  font-size: 125%;
  text-align: center;
}

.wrapper {
  max-width: 1600px;
}